{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div>
		<h1>Hello</h1>
		{# Twig function #}
		{{ ux_icon('bi:chat', {style: 'height: 4em;'}) }}
		{{ ux_icon('lucide:circle-check', {style: 'height: 4em;'}) }}
	</div>
{% endblock %}
