{% extends 'base.html.twig' %}

{% block title %}Recette :
	{{ recipe.title }}
{% endblock %}

{% block body %}
	<div>
		<h1>{{ recipe.title }}</h1>
		<p>{{ recipe.content }}</p>
		<a href="{{ path('recipe.index') }}" class="btn btn-secondary mt-3">Retour à la liste des recettes</a>
	</div>
{% endblock %}
