{% extends 'base.html.twig' %}

{% block body %}
	{# {{ ux_icon('bi:chat', {style: 'height: 4em;'}) }}
							{{ ux_icon('lucide:circle-check', {style: 'height: 4em;'}) }} #}
	{# <p> {% trans %}Hello{% endtrans %}</p> #}
		<p>
	{{ 'home_recipe_count' | trans({count: recipeNumber}) }}
	</p>

		<div class="p-5 mx-auto" style="font-size: 2em;"> {% set strings = [
            'I ❤️ Symfony UX!',
            'Symfony UX Typed loves to type',
            'Symfony UX Typed and backspace',
            'Control the speed',
            'Control the cursor',
            'Control your destiny!!!',
            'Control your destiny... sort of',
        ] %}
		<span data-controller="typed" data-typed-loop-value="true" data-typed-show-cursor-value="true" data-typed-cursor-char-value="✨" data-typed-strings-value="{{ strings|json_encode|e('html_attr') }}"></span>
	</div>
{% endblock %}
